<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Registration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletSignIn</display-name>
    <servlet-name>ServletSignIn</servlet-name>
    <servlet-class>ServletSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignIn</servlet-name>
    <url-pattern>/ServletSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateMerit</display-name>
    <servlet-name>GenerateMerit</servlet-name>
    <servlet-class>GenerateMerit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateMerit</servlet-name>
    <url-pattern>/GenerateMerit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMeritReport</display-name>
    <servlet-name>AllMeritReport</servlet-name>
    <servlet-class>AllMeritReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMeritReport</servlet-name>
    <url-pattern>/AllMeritReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMeritDelete</display-name>
    <servlet-name>AllMeritDelete</servlet-name>
    <servlet-class>AllMeritDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMeritDelete</servlet-name>
    <url-pattern>/AllMeritDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRegisteredReport</display-name>
    <servlet-name>AllRegisteredReport</servlet-name>
    <servlet-class>AllRegisteredReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRegisteredReport</servlet-name>
    <url-pattern>/AllRegisteredReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminCreateLogin</display-name>
    <servlet-name>ServletAdminCreateLogin</servlet-name>
    <servlet-class>ServletAdminCreateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminCreateLogin</servlet-name>
    <url-pattern>/ServletAdminCreateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminLockLogin</display-name>
    <servlet-name>ServletAdminLockLogin</servlet-name>
    <servlet-class>ServletAdminLockLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminLockLogin</servlet-name>
    <url-pattern>/ServletAdminLockLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminDeleteLogin</display-name>
    <servlet-name>ServletAdminDeleteLogin</servlet-name>
    <servlet-class>ServletAdminDeleteLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminDeleteLogin</servlet-name>
    <url-pattern>/ServletAdminDeleteLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginReport</display-name>
    <servlet-name>LoginReport</servlet-name>
    <servlet-class>LoginReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginReport</servlet-name>
    <url-pattern>/LoginReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletViewPassword</display-name>
    <servlet-name>ServletViewPassword</servlet-name>
    <servlet-class>ServletViewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletViewPassword</servlet-name>
    <url-pattern>/ServletViewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChangePassword</display-name>
    <servlet-name>ServletChangePassword</servlet-name>
    <servlet-class>ServletChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChangePassword</servlet-name>
    <url-pattern>/ServletChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminUnLockLogin</display-name>
    <servlet-name>ServletAdminUnLockLogin</servlet-name>
    <servlet-class>ServletAdminUnLockLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminUnLockLogin</servlet-name>
    <url-pattern>/ServletAdminUnLockLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRegisteredReport</display-name>
    <servlet-name>MyRegisteredReport</servlet-name>
    <servlet-class>MyRegisteredReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRegisteredReport</servlet-name>
    <url-pattern>/MyRegisteredReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryWiseMeritReport</display-name>
    <servlet-name>CategoryWiseMeritReport</servlet-name>
    <servlet-class>CategoryWiseMeritReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryWiseMeritReport</servlet-name>
    <url-pattern>/CategoryWiseMeritReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreamWiseMeritReport</display-name>
    <servlet-name>StreamWiseMeritReport</servlet-name>
    <servlet-class>StreamWiseMeritReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamWiseMeritReport</servlet-name>
    <url-pattern>/StreamWiseMeritReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeleteEntry</display-name>
    <servlet-name>ServletDeleteEntry</servlet-name>
    <servlet-class>ServletDeleteEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeleteEntry</servlet-name>
    <url-pattern>/ServletDeleteEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMakeEntry</display-name>
    <servlet-name>ServletMakeEntry</servlet-name>
    <servlet-class>ServletMakeEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMakeEntry</servlet-name>
    <url-pattern>/ServletMakeEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSignOut</display-name>
    <servlet-name>ServletSignOut</servlet-name>
    <servlet-class>ServletSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignOut</servlet-name>
    <url-pattern>/ServletSignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMeritDeleteHelp</display-name>
    <servlet-name>AllMeritDeleteHelp</servlet-name>
    <servlet-class>AllMeritDeleteHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMeritDeleteHelp</servlet-name>
    <url-pattern>/AllMeritDeleteHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRegisteredDelete</display-name>
    <servlet-name>AllRegisteredDelete</servlet-name>
    <servlet-class>AllRegisteredDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRegisteredDelete</servlet-name>
    <url-pattern>/AllRegisteredDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRegisteredDeleteHelp</display-name>
    <servlet-name>AllRegisteredDeleteHelp</servlet-name>
    <servlet-class>AllRegisteredDeleteHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRegisteredDeleteHelp</servlet-name>
    <url-pattern>/AllRegisteredDeleteHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDelete</display-name>
    <servlet-name>LoginDelete</servlet-name>
    <servlet-class>LoginDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDelete</servlet-name>
    <url-pattern>/LoginDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDeleteHelp</display-name>
    <servlet-name>LoginDeleteHelp</servlet-name>
    <servlet-class>LoginDeleteHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDeleteHelp</servlet-name>
    <url-pattern>/LoginDeleteHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnLockEasy</display-name>
    <servlet-name>UnLockEasy</servlet-name>
    <servlet-class>UnLockEasy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnLockEasy</servlet-name>
    <url-pattern>/UnLockEasy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnLockHelp</display-name>
    <servlet-name>UnLockHelp</servlet-name>
    <servlet-class>UnLockHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnLockHelp</servlet-name>
    <url-pattern>/UnLockHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LockHelp</display-name>
    <servlet-name>LockHelp</servlet-name>
    <servlet-class>LockHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockHelp</servlet-name>
    <url-pattern>/LockHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LockEasy</display-name>
    <servlet-name>LockEasy</servlet-name>
    <servlet-class>LockEasy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockEasy</servlet-name>
    <url-pattern>/LockEasy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateEntry</display-name>
    <servlet-name>ServletUpdateEntry</servlet-name>
    <servlet-class>ServletUpdateEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateEntry</servlet-name>
    <url-pattern>/ServletUpdateEntry</url-pattern>
  </servlet-mapping>
</web-app>